{% extends "base.html" %}
{% load static %}


{% block title %}Menu{% endblock %}

{% block content %} 


<div class="card">
  
    <div class="card-header hstack gap-1 ">
        <div class="col col-md-2"><img class="card-img-top img-thumbnail" src="{% static 'general/logo SUMAQ.jpg'%}" alt="Image not found" ></div>
        <div class="vr"></div>
        <div class="col col-md-4"><h2><strong>&nbsp;&nbsp;&nbsp;Menu  </strong></h2></div>
        <div class="vr"></div>
        <div class="col col-md-1"><img src='{{qr.qr_code.url}}' width='150' height='150'></div>
        <div class="vr"></div>
        <div class="col col-md-1 text-center"><h4>{% now "d-m-Y" %}</h4></div>
        <div class="vr"></div>
        <div class="col col-md-4 text-center"><h2><a href="{% url 'home' %}" class="btn btn-primary"><i class="bi bi-arrow-bar-left"></i>&nbsp;&nbsp;Home</i></a></h2></div>
    </div> <!-- /END card-header -->
  
    <div class="card-body">
            
        {% for j in y %}
        <p> <h2><strong>{{j}}</strong></h2> </p>
        <div class="card-group m-1 p-3">
            {% for i in productos %}

                {% if i.tipo.name == j %}
                
                    <div class="card border-danger m-2 p-2 " style="max-width: 450px;">
                        <div class="row gx-1">
                            <div class="col-md-4">
                            <img src="{{i.image.url}}"  class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body text-danger">
                                <h5 class="card-title">{{i.name}}</h5>
                                <p class="card-text">{{i.description}}</p>
                                <p class="card-text"><strong>$ {{i.pu}}</strong></p>
                                <a href="{% url 'detail' i.id %}" class="btn btn-danger">Ver detalle</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                {% endif %}
            
            {% endfor %}                
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}