{% extends "base.html" %}
{% load static %}


{% block title %}Detail{% endblock %}

{% block content %}


<div class="card">

  <div class="card-header">
    <img src="..." class="card-img-top" alt="..."> <h2><strong>Detalle</strong></h2>
  </div> <!-- /END Card header -->

  <div class="card-body">      

      <div class="row">

        <div class="col-sm-2">
          <div Image class="input-group col-md-2 m-3">
            {% if producto.image %}
            <a href="{{producto.image.url}}" class='btn btn-secondary'>
              <div class="card" style="height:auto; width: 12rem">
                <img class="img-thumbnail" src="{{producto.image.url}}" alt="No image" title='Ver imagen'>
              </div>
            </a>
            {% else%}
            {% endif%}
              <a href="#" target="_blank" class='btn btn-warning' title='Editar imagen'>  <i class="fas fa-pen"></i> </a> 
          </div>
        </div>

        <div class="col-sm-4 ">
          <div Name class="col mt-3 form-floating">
            <input value='{{producto.name}}'  type="text" class="form-control" id="name" name="name" placeholder="name" required autofocus>
            <label for="name" class="form-label">Nombre </label>
          </div>

          <div familia class="col mt-3">
            <label for="familia" class="form-label">Familia</label>
            <div class="input-group">
              <input  value='{{producto.familia.name}}' type="text" class="form-control" id="familia" name="familia" disabled >
              
              <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalUpdate{{producto.id}}" title="Editar familia de producto ">
                    <i class="fas fa-pen"></i>
                </button>
            </div>
          </div>

          {% comment %} <div status class="col mt-3">
            <label for="bin" class="form-label">Estado</label>
            <select class="form-control" name="status" id="status" required>
              <option value="{{producto.status}}" selected > {{producto.status}} - {{producto.get_status_display}} </option>

              {% if producto.status == "D" %} {% else %} <option value="D" > D - Disponible </option> {% endif%}
              {% if producto.status == "R" %} {% else %} <option value="R" > R - Reservado </option> {% endif%}
              {% if producto.status == "O" %} {% else %} <option value="O" > O - En Obra </option> {% endif%}
              {% if producto.status == "M" %} {% else %} <option value="M" > M - Mantención </option> {% endif%}
              {% if producto.status == "B" %} {% else %} <option value="B" > B - De Baja </option> {% endif%}

            </select>
          </div> {% endcomment %}
        </div>

        <div class="col-md-2">

          {% comment %} <div BIN class="col mt-3">
            <label for="bin" class="form-label">BIN</label>
            <input value='{{producto.bin}}' type="text" class="form-control" id="bin" name="bin" disabled >
          </div> {% endcomment %}

          <div PU class="col mt-3">
            <label for="pu" class="form-label">Precio Unitario (CLP/HM)</label>
            <input value='{{producto.pu}}' type="text" class="form-control" id="pu" name="pu">
          </div>

          {% comment %} <div Ubicacion class="col mt-3">
            <label for="ubicación" class="form-label">Ubicación</label>
            <input value='{{producto.ubicación}}' type="text" class="form-control" id="ubicación" name="ubicación">
          </div> {% endcomment %}

        </div>

        <div class="col-md-4">
          <div Accordion class="accordion col mt-3" id="accordionPanelsStayOpenExample">
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  Descripción
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <textarea value='{{producto.description}}'  type="text" class="form-control" id="description" name="description" rows="5">{{producto.description}}</textarea>
                </div>
              </div>
            </div>
            
            {% comment %} <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Otros Detalles
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>Peso (kg) </strong> 
                  <input class="form-control" type="text" value='{{producto.pesoKg}}' id="peso" name="peso">
                  <hr>
                  <strong>Color </strong>
                  <input class="form-control" type="text" value='{{producto.color}}' id="color" name="color">
                </div>
              </div>
            </div> {% endcomment %}
            
            {% comment %} <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Fabricante y Proveedores
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>Fabricado por   : </strong> {{producto.maker}}
                  <br>
                  <strong>Distribuido por : </strong>
                  <ul class="list-group list-group-flush">
                    {%for supp in producto.suppliers.values %}
                    <li class="list-group-item">
                      &nbsp;&nbsp;{{ supp.name }}
                      <span class="badge text-bg-danger rounded-pill">{{ supp.id }}</span>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div> {% endcomment %}

          </div>

          {% comment %} <div Bt Grabar class="col mt-3">
            <button class="btn btn-primary" type="submit"><i class="bi bi-cloud-arrow-up" title='Update Material'></i>&nbsp;&nbsp;Actualizar</i></button>

            <a {% if producto.dataSheet %}href="{{producto.dataSheet.url}}"{% endif %}class='btn btn-secondary' target="_blank" title='Ver Hoja de Datos y Seguridad'> Ver HDD </a>
          </div> {% endcomment %}

        </div>

      </div>

  </div> <!-- /END Card Body -->


  </form>
</div> <!-- /END CARD -->




{% endblock %}