{% extends "base.html" %}
{% load static %}


{% block title %}Menu{% endblock %}

{% block content %} 


<div class="card">
  
  <div class="card-header hstack gap-1 ">
    <div class="w-25"><img class="card-img-top img-thumbnail w-25" src="{% static 'general/logo SUMAQ.jpg'%}" alt="Image not found" width="150" ></div>
    <div class="vr"></div>
    <div class="w-50"><h2><strong>&nbsp;&nbsp;&nbsp;Menu <img src='{{qr.qr_code.url}}' width='150' height='150'> </strong></h2></div>
    <div class="vr"></div>
    <div class="w-25 text-center"><h4>{% now "d-m-Y" %}</h4></div>
    {% comment %} <div class="w-20">messages</div> {% endcomment %}
    <div class="vr"></div>
    
    <div class="w-20 d-flex justify-content">
        {% comment %} <a href="{% url 'Ap05Herr:HerrCreate' %}" class="btn btn-primary"> 
            <i class="bi bi-plus-square-fill" >&nbsp;&nbsp;Agregar</i>
        </a> {% endcomment %}
    </div>
  </div>
  
    <div class="card-body">
            
        {% for j in y %}
        <p> <h2><strong>{{j}}</strong></h2> </p>
        <div class="card-group">
            {% for i in productos %}

                {% if i.tipo.name == j %}
                
                        <div class="card border-danger m-3" style="max-width: 500px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                <img src="{{i.image.url}}"  class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                <div class="card-body text-danger">
                                    <h5 class="card-title">{{i.name}}</h5>
                                    <p class="card-text">{{i.description}}</p>
                                    <p class="card-text"><strong>$ {{i.pu}}</strong></p>
                                    <a href="{% url 'App01Menus:productdetail' i.id %}" class="btn btn-danger">Ver detalle</a>
                                </div>
                                </div>
                            </div>
                        </div>
                 
                {% endif %}
            
            {% endfor %}                
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}